/* CSS reset browser default values */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------- Main styles ------------- */
html {
  font-size: 0.625rem;
}

body {
  background-image: url(/static/images/book_background.jpg);
  background-position: center;
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  /* max-width: 70%; */
  margin: 0 auto;
  border: 1px solid red;
  min-height: 70vh;
}

/* ----------- End of Main styles ------------- */

/* ----------- Header styles ------------- */

header {
  background-color: red;
  color: #fff;
  height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
}

h2 {
  margin: 2rem 0;
  font-size: 6rem;
}

h2,
h3,
h4 {
  text-align: center;
}

h3 {
  margin-bottom: 1rem;
}
nav > ul {
  display: flex;
  gap: 2rem;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

nav > ul > li > a:hover {
  border-bottom: 2px solid white;
}

/* ----------- End of Header styles ------------- */

/* -------------- Home Page styles ---------------- */

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 80rem;
  margin: 0 auto;
}

/* ---- End of home Page styles ----- */

/* ---- book and form styles ---- */

.form_and_books_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.form_container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.add_book_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form_textfields_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex_grow {
  flex: 1 0 auto;
}

.checkbox_date_container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.checkbox_align,
.date_align {
  display: flex;
}

.checkbox_align > label,
.date_align > label {
  flex: 0 0 auto;
}

.checkbox_align > input {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.5rem;
}

.date_align > input {
  margin-left: 1.5rem;
}

input {
  width: 100%;
  height: 3rem;
}

label {
  display: block;
}

.form_btn {
  background-color: red;
  color: white;
  border: none;
  width: 15rem;
  height: auto;
  padding: 8px 16px;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.form_btn:hover {
  background-color: rgb(179, 3, 3);
  cursor: pointer;
}

/* ---- End of book and form styles ---- */

/* ---- Contact page styles ---- */

.contact_container {
  max-width: 66rem;
  margin: 0 auto;
}

/* ---- End of Contact page styles ---- */

/* ---- Footer styles ---- */

footer {
  background-color: red;
  color: #fff;
  height: 10vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.social_icons > a {
  color: white;
}

/* ---- End of Footer styles ---- */
