{% extends "base.html" %} {% block content %}

<h2>Our current books</h2>
<div class="form_and_books_container">
  <div class="form_container">
    <h3>Add a new book to the library</h3>

    <form class="add_book_form" action="" method="post">
      <div class="form_textfields_container">
        <div class="flex_grow">
          <label for="title">Book title:</label>
          <input id="title" type="text" name="title" required />
        </div>

        <div class="flex_grow">
          <label for="author">Author:</label>
          <input id="author" type="text" name="author" required />
        </div>

        <div class="flex_grow">
          <label for="genre">Genre:</label>
          <input id="genre" type="text" name="genre" required />
        </div>
      </div>
      <!--- end of form_textfields_container --->

      <div class="checkbox_date_container">
        <div class="checkbox_align">
          <label for="checked_out">Check Out: </label>
          <input
            id="checked_out"
            type="checkbox"
            name="checked_out"
            value="False"
          />
        </div>

        <div class="date_align">
          <label for="date">Return date:</label>
          <input type="date" name="date" id="date" />
        </div>

        <input class="form_btn" type="submit" value="Add" />
      </div>
      <!--- checkbox_date_container end --->
    </form>
    <!-- add_book_form end-->
  </div>
  <!--- form_container end --->

  <div class="books_container">
    {% for book in books %}

    <div class="book_container">
      <p>Title: <span class="bold_text">{{ book.title|title }}</span></p>
      <p>Author: <span class="bold_text">{{ book.author|title }}</span></p>
      <p>Genre: <span class="bold_text">{{ book.genre|title }}</span></p>

      {% if book.checked_out %}
      <p class="checked_text">
        <i>
          Checked out: return date: {{ book.return_date.strftime("%b %d %Y") }}
        </i>
      </p>
      {% endif %}
      <div class="view_and_delete_align">
        <a class="view_book_btn" href="/books/{{books.index(book)}}"
          >View book</a
        >

        <!--- Delete button --->
        <form
          class="form-inline"
          action="/books/delete/{{ book.title }}"
          method="POST"
        >
          <input class="form_btn" type="submit" value="Delete" />
        </form>
      </div>
      <!---- view and delete align ----->
    </div>
    <!--- book_container end --->

    {% endfor %}
  </div>
  <!-- books_container end -->
</div>
<!-- form and books container end -->

{% endblock %}
