{% extends "base.html" %} {% block content %}

<div class="contact_container">
  <h2>Get in touch</h2>
  <div class="contact_form_container">
    <p>
      If you would like to request a book that's not in our library, complete the form below. We'll do our very best to source it for you.
    </p>

    <form action="" method="post">
      <div class="contact_headline">
        <label for="name">Enter your full name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="name">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <hr />
      <h3 class="contact_headline">Your Book Request</h3>
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
      </div>

      <div>
        <label for="author">Author <small>(If known)</small></label>
        <input type="text" id="author" name="author" />
      </div>
      <input class="contact_btn" type="submit" value="Send" />
      </div>
    </form>
  </div>

  {% endblock %}
</div>
