{% extends "base.html" %} {% block content %}
<div class="home_container">
  <h2>Welcome</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus,
    voluptatum nulla. Delectus, deserunt beatae. Iste dolorem et, eum architecto
    repellendus ab, earum, tenetur saepe laborum a voluptates laudantium eos
    doloribus.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus,
    voluptatum nulla. Delectus, deserunt beatae. Iste dolorem et, eum architecto
    repellendus ab, earum, tenetur saepe laborum a voluptates laudantium eos
    doloribus.
  </p>
  <a href="/books"><button class="btn">View Books</button></a>
</div>

{% endblock %}
